.bg-nav{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mt-100{
    margin-top:100px;
}
.ml-20{
    margin-left:20px;
}
.mt-75{
    margin-top:75px;
}
.mt-65{
    margin-top:65px;
}

